header{
  background-color: #555151;
  color: #e0ffcd;
  height: 40px;
  font-family: monospace;
  margin: 0;
  font-style: italic;
  font-size: 12pt;
  padding-left: 50px;

}
header>p{
  margin-top: 0;
  padding-top: 10px;

}
#parrafo_a{
  float: left;
  width: 50%;
  background-color: rgb(150, 31, 123);

}
#parrafos{
  overflow:auto;/*para mostrar barra de desplazamiento*/
}
#parrafo_b{
  float: right;
  width: 50%;
  background-color: rgb(143, 138, 240);
}

body{

  margin: 0;
  font-family:sans-serif;
}
.titulo{

  background-image: url(poe2.jpg);
/*  background-repeat:repeat;*/
color:#ffffff;
}
.titulo>em{
   font-size: 20pt;
   padding-left: 38%;
}
.titulo>p{
  font-size: 50pt;
  font-family: monospace;
  font-style: italic;
  color:#ffffff;
  margin: 0;
  height: 90px;
  padding-top:5%;
  /*padding-left: 32%;*/
  text-align: center;
  font-weight: bold;
  width: inherit;
}
p{
  text-align: justify;
/*  width: 1100px;
  margin-left: 100px;*/
  font-size: 14pt;
  font-family: helvetica;
  color: rgb(89, 89, 89);
}
#primer::first-letter{
  font-size:40pt;
}
.todo{
  width: 100%;
}
.contenido{
  margin-right: 30PX;
  float: right;
  width: 75%;
  border-left: 2px solid rgb(203, 94, 146);
  padding-left: 10px;
}
.menu{
  width: 18.7%;
  float: left;
  height: auto;
  background-color: rgb(240, 240, 240);
  padding-left: 15px;
  padding-right: 15px;
}
.contenido>img{
  float: right;
  width: 26%;
  margin-left: 5%;
}
.todo{
  display: inline-block;
}
.opiniones{
  overflow: auto;
  display: inline-block;
  width: 80%;
  margin-left: 10%;
}
h2{
  color: #262526;
  font-family: helvetica;
}
ul{
  text-decoration:none;
  padding-left: 5px;
  margin-top: 0;

}
li{
  list-style: none;

  margin-top: 5px;
  margin-bottom: 5px;


}
a{

  text-decoration: none;
  font-size: 14pt;
  font-family: helvetica;
  color:rgb(92, 92, 92);

}
li>a{
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-left: 3px solid;
  border-color: rgb(131, 147, 212);
  display: block;
  background-color: rgb(255, 255, 255);
}
li>a:hover{
   transition:all .2s ease;
   margin-left: 5px;
   background-color: rgb(242, 223, 241);
}
#selecto{
  margin-left: 5px;
  background-color: rgb(242, 223, 241);
}
.contenido>a{
  text-align: center;
  width: 140px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-left: 10px;
  border-bottom: 2px solid;
  border-color: rgb(131, 147, 212);
  margin-bottom: 2px;
}
.contenido>a:hover{
  margin-bottom: 1px;
  transition:all .2s ease;
  border-bottom: 3px solid;
  border-color: rgb(131, 147, 212);
  background-color: rgb(242, 223, 241);
}
#selecto2{
  margin-bottom: 1px;
  border-bottom: 3px solid;
  border-color: rgb(131, 147, 212);
  background-color: rgb(242, 223, 241);
}
